<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - SriSriPort</title>
    <link rel="shortcut icon" href="images/flogo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/contact.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/b7063610fd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
    
   


</head>

<body>
    <!-- <%- include('../partials/navbar'); -%> -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">SRISRIPORT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Contact Us</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/import">Import</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/export">Export</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/reglog">Register</a>
                </li>
                
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li> -->
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    <div class="container">
        <div class="content">
            <div class="left-side">
                <div class="address details">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="topic">Address</div>
                    <div class="text-one">2nd Floor, 105-M</div>
                    <div class="text-two">Taranagari, Gorakhpur, Uttar Pradesh.</div>
                </div>
                <div class="phone details">
                    <i class="fas fa-phone-alt"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+91 6306 834 436</div>
                    <div class="text-two">+91 7839 358 367</div>
                </div>
                <div class="email details">
                    <i class="fas fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">srisriportllp@gmail.com</div>
                    <div class="text-two">krvivi28@gmail.com</div>
                </div>
            </div>
            <div class="right-side">
                <div class="topic-text">Send us a message</div>
                <p>If you have any work from us or any types of quries related to import or export, you can send us a
                    message from here. It's our pleasure to help you.</p>
                <form action="/contactus" method="post">
                    <div class="input-box">
                        <input type="text" placeholder="Enter your name" name="name">
                    </div>
                    <div class="input-box">
                        <input type="email" placeholder="Enter your email" name="email">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Enter your mobile number" name="mobile">
                    </div>
                    <div class="input-box message-box">
                        <input type="text" placeholder="Write your message or feedback" name="query">
                    </div>
                    <button class="button" type="submit">Send Now</button>
                </form>
            </div>
        </div>
    </div>

 
    <div class="accordion">
        <div class="accordion-content">
            <header>
                <span class="title">What is Srisriport LLP and what services does it offer to its clients ?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                SRISRIPORT LLP is an Export and Import firm, which provides logistic support, custom clearance, finding
                customers for Export / Import, container booking/ tracking etc. We help companies like yours, Export and
                Import their goods and services and expand business exponentially.
                <br>
                <br>
                We are a <b>ONE STOP SOLUTION</b> platform for all your EXIM needs.
                <br>
                <br>
                Our services include
                <br>
                <br>
                1) Documentation procedures of GST, Importer Exporter Code, RCMC, and other trade licenses(India). <br>
                2) Finding International Market and Customers. <br>
                3) End to End Logistics. <br>
                4) Overlooking Payment and other relevant compliances. <br>
                5) Continual EXIM Consultancy. <br>
                6) 24/7 Customer Support. <br>
            </p>

        </div>

        <div class="accordion-content">
            <header>
                <span class="title">What is the benefit of exports and how can we obtain incentives from
                    Government?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                Benefits of export includes,
                <br>
                1) Increased customer base <br>
                2) Expanded product cycle <br>
                3) Diversifying market opportunities <br>
                4) Potential financial assistance <br>
                <br>
                Talking about obtaining incentives, our documentation experts will help receive the best incentives
                necessary for your business to go global
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">What is your benefit and motive to serve companies for export ?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                Our motive is to make India an exporting economy. The very foundation of this firm was to boost the
                Indian economy in a
                positive direction. Our goal is to make India a $40 Trillion Economy by the end of 2030.
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">We don't know anything about the export procedures and hence have no prior
                    international exposure.</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                That's exactly why Srisriport is here! Even if you don't have ANY EXIM experience, it won't be a problem
                once you join hands with us! We provide services right from Documentation, Finding buyers, Logistics and
                even Compliances.
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">How old is your company and how can we rely on Srisriport since it’s a start
                    up?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                Srisriport was incorporated on 31st December, 2020.
                <br>
                <br>
                Our business model is designed to provide everything that other EXIM Companies don't. Our team of 50+
                experts,with an experience of 15+ years in the industry, strive hard to bring the best of market for our
                clients.
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">What preventive measures does Srisriport undertake in order to deal with frauds and
                    payment defaults in the EXIM market?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                Our list of buyers undergo a thorough check of genuineness and reliability before we approach them on
                behalf of our clients. Payment defaults are prevented through tools like LOC,etc. Srisriport presents
                only trustworthy buyers to our clients. Our legal team remains on their toes in the slightest
                possibility of catastrophe.
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">Why choose Srisriport over others?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                Other businesses generally provide an isolated service and then leave you in the dark, lost as to what
                to do next.
                However, once you become a part of Srisriport, we help you right from the initial stages to the post
                export/import
                stages. Our continuous customer service and guidance ensures all round growth of our clients in
                International markets.
                Moreover, our continuous lead generation facility assures our clients of stability and growth.
                <br>
                <br>
                Choose Srisriport and get ready to increase your production and count your increased profits!

            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">What is Srisriport’s Marketplace and how will it help us to get more business
                    ?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                Srisriport's Marketplace allows importers to find the best products around the globe for themselves and
                exporters to find genuine buyers in order to go global.
                <br>
                <br>
                Everyone around the world can register themselves FOR FREE on our marketplace and grow their business.
                <br>
                <br>
                Listing your products on our marketplace will provide you the platform to display your quality products
                to the world and
                attract more international customers.

            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">How can we start EXIM and what documents are required for the same?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                An exporter needs GST registration, IEC code, RCMC and an ICC certification. An AEO code is preferable
                if you wish to
                speed up the custom clearance processes. Our documentation team will help you to get all the documents
                without any
                hustle.
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">What is IEC code, RCMC and Indian chamber of commerce ?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                Import Export Code (also known as IEC code) is a 10-digit identification number that is issued by the
                DGFT (Director General of Foreign Trade), Department of Commerce, Government of India. It is also known
                as Importer Exporter Code. Companies and businesses must obtain this code to start a business that deals
                with imports and export in the Indian territory. It is not possible to deal with export or import
                business without this IEC code.
                <br>
                <br>
                RCMC is an abbreviation for registration cum membership certificate. This certificate is issued as a
                license to the
                company to carry out exports and avail some form of concessions under the present foreign trade policy.
                The RCMC certificate is issued by the Federation of Indian Export Organisations (FIEO).
                <br>
                <br>
                The Indian Chamber of Commerce, or ICC as it is popularly known, is the premier body of business and
                industry in Eastern and North-Eastern India.The ICC constituents are mainly large manufacturing units
                with operations all over the country and abroad. A large number of corporate bodies of India form the
                backbone of the organization. Leading industrial promotion organizations, banks & financial
                institutions, as well as governmental organizations, are members of the ICC and lend a diversified
                membership base for the Chamber.

            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">Can you help us to get IEC code, RCMC, chamber of commerce membership, commercial
                    invoice etc?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                Yes, our team of Documentation experts with an experience of 15 years and widespread network can help
                you get your
                documents within no time.
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">How much will it cost to affiliate with Srisriport and what will be the registration
                    charges?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                Registration and Listing of products on our website is absolutely free. Our packages differ as per the
                services you
                choose. Register now and let our Business Development Associate help you out for the selection of the
                best package!
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">We are unable to find any supplier? How can you help us ?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                Our team with expertise in International business has a widespread network and connections around the
                globe. We find the
                best buyer/seller and finalize deals for our clients.
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">Can you provide freight forwarding services, transportation and storage space
                    (warehouse) ?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                Yes, once you join hands with us, we can take up the responsibility of Freight Forwarding,
                Transportation and
                Warehousing. Our effective and efficient logistics team handles your products with care and ensure on
                time delivery of
                export orders.
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">Does Srisriport buy/sell products or export/import to clients itself?</span>
                <i class="fa-solid fa-plus"></i>
            </header>

            <p class="description">
                No, Srisriport doesn't buy products or sell them further. We are just an intermediary bridging the gap
                between importers
                and exporters, while providing all the related EXIM services. Our motto is to make the EXIM process as
                smooth as
                possible for our clients all the while ensuring their growth and increase in profits.
            </p>
        </div>
    </div>
    <%- include('../partials/foot1'); -%>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <script>
        const accordionContent = document.querySelectorAll(".accordion-content");

        accordionContent.forEach((item, index) => {
            let header = item.querySelector("header");
            header.addEventListener("click", () => {
                item.classList.toggle("open");

                let description = item.querySelector(".description");
                if (item.classList.contains("open")) {
                    description.style.height = `${description.scrollHeight}px`; //scrollHeight property returns the height of an element including padding , but excluding borders, scrollbar or margin
                    item.querySelector("i").classList.replace("fa-plus", "fa-minus");
                } else {
                    description.style.height = "0px";
                    item.querySelector("i").classList.replace("fa-minus", "fa-plus");
                }
                removeOpen(index); //calling the funtion and also passing the index number of the clicked header
            })
        })

        function removeOpen(index1) {
            accordionContent.forEach((item2, index2) => {
                if (index1 != index2) {
                    item2.classList.remove("open");

                    let des = item2.querySelector(".description");
                    des.style.height = "0px";
                    item2.querySelector("i").classList.replace("fa-minus", "fa-plus");
                }
            })
        }

    </script>
</body>

</html>