<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRISRIPORT</title>
    <!----======== CSS ======== -->


    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="css/exim.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/b7063610fd.js" crossorigin="anonymous"></script>

    <!--<title>Responsive Regisration Form </title>-->
</head>

<body>
    {{!-- {{>header}} --}}
    {{>navbar}}
    <div class="container">
        <header>Registration</header>

        <form action="/eximreg" method="post">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>
                    <div class="fields">
                        {{>country}}
                        <div class="input-field">
                            <label>Trade Role</label>
                            <select name="tradeRole" required>
                                <option disabled selected>Please select trade role</option>
                                <option>Import</option>
                                <option>Export</option>
                                <option>Buyer</option>
                                <option>Seller</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" name="email" placeholder="Enter your email" required>
                        </div>
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" name="fname" placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" name="dob" placeholder="Enter birth date" required>
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="text" name="mobileNumber" placeholder="Enter mobile number" required>
                        </div>



                    </div>
                </div>

                <div class="details ID">
                    <span class="title">Identity Details</span>

                    <div class="fields">

                        <div class="input-field">
                            <label>ID Type</label>
                            <select name="idType" required>
                                <option disabled selected>Select the ID you have</option>
                                <option>PAN</option>
                                <option>Adhaar</option>
                                <option>Others</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>ID Number</label>
                            <input type="text" name="idNumber" placeholder="Enter ID number" required>
                        </div>

                        <div class="input-field">
                            <label>Issued Authority</label>
                            <input type="text" name="issuedAuthority" placeholder="Ex. Govt of India" required>
                        </div>

                        <div class="input-field">
                            <label>Issued Country</label>
                            <input type="text" name="issuedCountry" placeholder="Enter issued country" required>
                        </div>
                        <div class="input-field">
                            <label>Job Title</label>
                            <input type="text" name="jobTitle" placeholder="Enter Job Title" required>
                        </div>

                    </div>

                    <button class="nextBtn">
                        <span class="btnText">Next</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>

            <div class="form second">
                <div class="details address">
                    <span class="title">Company Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Company Name:</label>
                            <input type="text" name="companyName" placeholder="Enter the name of the Company" required>
                        </div>

                        <div class="input-field">
                            <label>Company Type:</label>
                            <select name="companyType" required>
                                <option disabled selected>Choose Company Type</option>
                                <option>Indivisual Proprietor</option>
                                <option>Public Limited</option>
                                <option>Private Limited</option>
                                <option>Limited Liability Parternship</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Address:</label>
                            <input type="text" name="address" placeholder="Enter Your Address" required>

                        </div>

                        <div class="input-field">
                            <label>State:</label>
                            <input type="text" name="state" placeholder="Enter your State" required>
                        </div>

                        <div class="input-field">
                            <label>City:</label>
                            <input type="text" name="city" placeholder="Enter Your City" required>
                        </div>

                        <div class="input-field">
                            <label>Pin Code:</label>
                            <input type="number" name="pincode" placeholder="Enter Pin Code" required>

                        </div>

                        <div class="input-field">
                            <label>Contact Number:</label>
                            <input type="text" name="companyNumber" placeholder="Enter Your Contact Number" required>

                        </div>

                        <div class="input-field">
                            <label>Landline Number:</label>
                            <input type="text" name="Landline" placeholder="Enter Your Landline Number(Optional)">

                        </div>


                        <div class="input-field">
                            <label>GST Registration</label>
                            <input type="text" name="gstNumber" placeholder="Enter GST Registration Number" required>
                        </div>

                        <div class="input-field">
                            <label>IEC Code</label>
                            <input type="text" name="iecCode" placeholder="Enter IEC Code" required>
                        </div>

                        <div class="input-field">
                            <label>Current Account</label>
                            <input type="text" name="currentAccount" placeholder="Enter Current Account Number"
                                required>
                        </div>

                        <div class="input-field">
                            <label>AO Code</label>
                            <input type="text" name="aoCode" placeholder="Enter AO-Code(Optional)">
                        </div>

                    </div>
                </div>

                <div class="details family">
                    <span class="title">Do'nt have IEC-Code, don't worry our team will help you</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Let's talk </label>
                            <select name="letsTalk" required>
                                <option disabled selected>Do you wish to have IEC_code from us</option>
                                <option>YES</option>
                                <option>NO</option>

                            </select>
                        </div>

                        <div class="input-field">
                            <label>If YES</label>
                            <input type="text" name="ifYes" placeholder="Enter your contact number">
                        </div>

                        <div class="input-field">
                            <label>Alternate Mobile</label>
                            <input type="text" name="alternateMobileNumber" placeholder="Enter alternate number">
                        </div>

                        <div class="input-field">
                            <label>No, I don't</label>
                            <input type="text" name="noIdont" placeholder="enter reason">
                        </div>

                    </div>

                    <div class="buttons">
                        <div class="backBtn">
                            <i class="uil uil-navigator"></i>
                            <span class="btnText">Back</span>
                        </div>

                        <button type="submit" class="sumbit">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        const form = document.querySelector("form"),
            nextBtn = form.querySelector(".nextBtn"),
            backBtn = form.querySelector(".backBtn"),
            allInput = form.querySelectorAll(".first input");


        nextBtn.addEventListener("click", () => {
            allInput.forEach(input => {
                if (input.value != "") {
                    form.classList.add('secActive');
                } else {
                    form.classList.remove('secActive');
                }
            })
        })

        backBtn.addEventListener("click", () => form.classList.remove('secActive'));

    </script>
    <!--<script src="script.js"></script>-->
    {{!-- {{>foot1}} --}}
</body>

</html>