<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRISRIPORT</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="css/newnav.css">
    {{!--
    <link rel="stylesheet" type="text/css" href="css/nav.css"> --}}
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="css/phone.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/b7063610fd.js" crossorigin="anonymous"></script>
    <script src="/public/js/title.js"></script>
</head>

<body>
    {{!-- {{>pheader}} --}}
    {{>navbar}}
    <section id="home">
        <h4 class="world" id="title">WORLD'S FIRST EXPORT IMPORT MARKETPLACE</h4>

        <a id="regbtn" href="/reglog"><button type="text" class="btn"><span></span>
                <h4 class="blink">JOIN US NOW</h4>

            </button></a>
    </section>
    <div id="what">

        <h1 class="h-primary">About SRISRIPORT</h1>
        <p>SRISRIPORT is a next generation Export and Import Marketplace, where the industries do EXIM with ease through
            our services. We strongly believe in the potential of every business that with proper knowledge, timely
            support and strong network, anyone can achieve their fortune worldwide.
            Being a comprehensive service platform for foreign trade, SRISRIPORT is committed to tapping business
            opportunities for Indian suppliers and overseas buyers, and providing one-stop services for promoting the
            international trade between the two sides.
            SRISRIPORT is looked upon a as preferred organisation for companies, Manufacturers and people who are
            looking for international business expansion and Growth.
        </p>
        <!-- <button type="text" class="btn"> <span></span>Register Now</button> -->
    </div>
    <section id="services-container">
        <h1 class="h-primary center">services we provide</h1>
        <div id="services">

            {{!-- <div class="box">

                <img id="imp" src="../images/imp.png" alt="">
                <h2 class="h-secondary center">Import</h2>
                <p class="center">
                    Imports and exports are the components of international trade. If the value of a country's imports
                    exceeds the value of its exports, the country has a negative balance of trade, also known as a trade
                    deficit.
                <p>
            </div> --}}
            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        <img src="images/imp.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Import</h2>
                        <div class="color">
                            <p style="color: white;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, minima.
                            </p>
                        </div>
                        <a href="/exim">Import Now</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        <img src="images/exp.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Export</h2>
                        <div class="color">
                            <p style="color: white;">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, sunt.
                            </p>
                        </div>
                        <a href="/exim">Export Now</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        <img src="images/mktp.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Marketplace</h2>
                        <div class="color">
                            <p style="color: white;">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, sunt.
                            </p>
                        </div>
                        <a href="/product">Explore Now</a>
                    </div>
                </div>
            </div>
            {{!-- <div class="box">

                <img src="../images/export.png" alt="">
                <h2 class="h-secondary center">Export</h2>
                <p class="center">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, unde.</p>
            </div> --}}
            {{!-- <div class="box">
                <img id="eco" src="../images/ecomm.png" alt="">
                <h2 class="h-secondary center">E-commerce</h2>
                <p class="center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, enim ipsum quas nemo, itaque
                    doloremque laboriosam maiores ex </p>
            </div> --}}
        </div>
        <hr>
    </section>
    <section id="card2-container">
        <h1>Why export and import with SRISRIPORT?</h1>
        <div id="services2">

            <div class="box2">


                <h2 class="h-secondary center">Revenue potential</h2>
                <hr>
                {{!-- <h3 class="card2h"> 5 million</h3> --}}
                <p class="center">
                    Exports with SRISRIPORT, helping entrepreneurs, manufactures and people around the World to export
                    and import
                <p>
            </div>
            <div class="box2">


                <h2 class="h-secondary center">Get expert support in logistics & returns</h2>
                <hr>
                {{!-- <h3 class="card2h"> 1 million</h3> --}}
                <p class="center">Warehousing, compliance, Shipping and payments - SRISRIPORT assists you in every step
                    to help you run a successful export business.</p>
            </div>
            <div class="box2">

                <h2 class="h-secondary center">Join 400+ growing businesses network</h2>
                <hr>
                {{!-- <h3 class="card2h"> 400+</h3> --}}
                <p class="center">
                    Join the network of 400+ World Exporter/Importers across various product categories, who are
                    successfully running their business with SRISRIPORT. </p>
            </div>
            <div class="box2">

                <h2 class="h-secondary center">Trade Easily and Safely</h2>
                <hr>
                {{!-- <h3 class="card2h"> 100+</h3> --}}
                <p class="center">
                    We are designed to facilitate registered members to place, accept, conclude, manage and fulfill
                    orders for the provision of products and services online.</p>
            </div>
        </div>
        <hr>
    </section>
    <section id="blogsection">
        <a href="/reglog">
            <h1>How to Import and Export with SRISRIPORT?</h1>
        </a>
        <div id="blog">


            <div class="box3">


                <h2 class="h-secondary center">1. Decide where & what to sell</h2>
                <hr>

                <p class="center">
                    Understand the market opportunity for your export business and select the suitable international
                    marketplaces where you want to sell.
                <p>
            </div>
            <div class="box3">


                <h2 class="h-secondary center">2. Register & list your products</h2>
                <hr>

                <p class="center">
                    Register as an srisriport global seller and use srisriport's state-of-the-art logistics to make your
                    product listing across marketplaces quick and easy to manage.</p>
            </div>
            <div class="box3">

                <h2 class="h-secondary center">3. Deliver your products</h2>
                <hr>

                <p class="center">
                    Use Fulfillment By Srisriport (FBS) services for shipping your products to any part of the world.
                    You can also choose other shipping methods.</p>
            </div>
            <div class="box3">

                <h2 class="h-secondary center">4. Get paid & grow your business</h2>
                <hr>

                <p class="center">
                    Get paid to your account on completion of sales. Focus on expanding your export business by
                    utilizing srisriport’s international tools and services. </p>
            </div>
        </div>
        <hr>
    </section>
    {{>foot1}}

</body>

</html>