<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/nav.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/b7063610fd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/login.css">

    <link rel="stylesheet" media="screen and (max-width: 900px)" href="css/phone.css">

</head>

<body>
    {{>pheader}}
    {{>header}}
    <div class="container">
        <h1>Log In SRISRIPORT</h1>
        <div class="box">
            <i class="fa fa-envelope"></i>
            <input type="email" name="email" id="email" placeholder="Enter your registered mail id">
        </div>
        <div class="box">
            <i class="fa fa-key"></i>

            <input type="password" name="password" id="password" placeholder="Enter your password">
        </div>
        <button type="button" class="btn"><span></span> Sign in</button>
        {{!-- <a href="//fb.com">fb</a>
        <a href="//google.com">google</a>
        <a href="//yahoo.com">yahoo</a> --}}
    </div>
    {{!-- {{>foot1}} --}}





</body>

</html>