<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Srisriport Upgrde</title>
    <link rel="shortcut icon" href="images/flogo.png" type="image/x-icon">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <%- include('../partials/navbar'); -%>

  <body data-new-gr-c-s-check-loaded="14.1087.0" data-gr-ext-installed="">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path
          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
        ></path>
      </symbol>
    </svg>

    <div class="container py-3">
      <header>
        <div
          class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
        >
          <a
            href="/"
            class="d-flex align-items-center text-dark text-decoration-none"
          >
            <img class="mx-2" src="images/flogo.png" alt="" width="50" height="50" />
            <span class="fs-4">SRISRIPORT</span>
          </a>

          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/"
              >Home</a
            >
            <a class="me-3 py-2 text-dark text-decoration-none" href="/import"
              >Import</a
            >
            <a class="me-3 py-2 text-dark text-decoration-none" href="/Export"
              >Export</a
            >
            <a class="py-2 text-dark text-decoration-none" href="#">Support</a>
          </nav>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Pricing</h1>
          <p class="fs-5 text-muted">Find a plan that's right for you.</p>
        </div>
      </header>

      <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Basic</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  &#8377;3000<small class="text-muted fw-light">/mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Finding Buyers</li>
                  <li>Sending Samples</li>
                  <li>Executing Orders</li>
                  <li>Catalogue Making</li>
                  <li>24/7 Support Service</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">
                  Get Started
                </button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Pro</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  &#8377;1400<small class="text-muted fw-light"
                    >/mo&#215;6</small
                  >
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Finding Buyers</li>
                  <li>Sending Samples</li>
                  <li>Executing Orders</li>
                  <li>Catalogue Making</li>
                  <li>24/7 Support Service</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-success">
                  Get started
                </button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-danger">
              <div class="card-header py-3 text-bg-danger border-danger">
                <h4 class="my-0 fw-normal">Enterprise</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  &#8377;800<small class="text-muted fw-light"
                    >/mo&#215;12</small
                  >
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Documentation</li>
                  <li>Recurring Order</li>
                  <li>Relationship Manager</li>
                  <li>Catalogue Making</li>
                  <li>24/7 Support Service</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-danger">
                  Get Started
                </button>
              </div>
            </div>
          </div>
        </div>

        <h2 class="display-6 text-center mb-4">Compare plans</h2>

        <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th style="width: 34%"></th>
                <th style="width: 22%">Basic</th>
                <th style="width: 22%">Pro</th>
                <th style="width: 22%">Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-start">Finding Buyers</th>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Sending Samples</th>
                <td></td>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
              </tr>
            </tbody>

            <tbody>
              <tr>
                <th scope="row" class="text-start">Executing Orders</th>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Catalogue Making</th>
                <td></td>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-start">24/7 Support Service</th>
                <td></td>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Documentation</th>
                <td></td>
                <td></td>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Recurring Order</th>
                <td></td>
                <td></td>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Relationship Manager</th>
                <td></td>
                <td></td>
                <td>
                  <svg class="bi" width="24" height="24">
                    <use xlink:href="#check"></use>
                  </svg>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
    <%- include('../partials/foot1'); -%>
    <link
      rel="stylesheet"
      type="text/css"
      href="chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/css/blur.css"
      class="loom-blur-styles"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
