<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade-Plan</title>
    <link rel="shortcut icon" href="images/flogo.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="css/plans.css">

</head>

<body>
    {{>navbar}}
    <div class="pricingTable">
        <h2 class="pricingTable-title">Find a plan that's right for you.</h2>
        {{!-- <h3 class="pricingTable-subtitle">Every plan comes with a 30-day free trial.</h3> --}}

        <ul class="pricingTable-firstTable">
            <li class="pricingTable-firstTable_table">
                <h1 class="pricingTable-firstTable_table__header">Silver Packege</h1>
                <p class="pricingTable-firstTable_table__pricing"><span>&#8377;</span><span>3000</span><span>1
                        Month</span></p>
                <ul class="pricingTable-firstTable_table__options">
                    <li>Finding Buyers</li>
                    <li>Sending Samples</li>
                    <li>Executing Orders</li>
                    <li>Catalog Making</li>
                    <li>24/7 Support Service</li>
                </ul>
                <button class="pricingTable-firstTable_table__getstart">Get Started Now</button>
            </li>
            <li class="pricingTable-firstTable_table">
                <h1 class="pricingTable-firstTable_table__header">Diamond Packege</h1>
                <p class="pricingTable-firstTable_table__pricing"><span>&#8377;</span><span>800</span><span>Per Month
                        &#215; 12</span></p>
                <ul class="pricingTable-firstTable_table__options">
                    <li>Finding Buyers</li>
                    <li>Sending Samples</li>
                    <li>Executing Orders</li>
                    <li>Catalogue Making</li>
                    <li>Documentation</li>
                    <li>Recurring Order</li>
                    <li>Relationship Manager</li>
                    <li>24/7 Support Service</li>
                </ul>
                <a href="/planpay">
                    <button class="pricingTable-firstTable_table__getstart">Get Started Now</button>
                </a>
            </li>
            <li class="pricingTable-firstTable_table">
                <h1 class="pricingTable-firstTable_table__header">Gold Packege</h1>
                <p class="pricingTable-firstTable_table__pricing"><span>&#8377;</span><span>1400</span><span>Per Month
                        &#215; 6</span></p>
                <ul class="pricingTable-firstTable_table__options">
                    <li>Finding Buyers</li>
                    <li>Sending Samples</li>
                    <li>Executing Orders</li>
                    <li>Catalog Making</li>
                    <li>24/7 Support Service</li>
                </ul>
                <button class="pricingTable-firstTable_table__getstart">Get Started Now</button>
            </li>
        </ul>
    </div>

</body>

</html>