<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product list - SriSriPort</title>
    <link rel="shortcut icon" href="images/flogo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/plist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    {{>navbar}}
    <div class="container">
        <header>Product list</header>
        <div class="progress-bar">
            <div class="step">
                <p>Product Details</p>
                <div class="bullet">
                    <span>1</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>Description</p>
                <div class="bullet">
                    <span>2</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>Upload Images</p>
                <div class="bullet">
                    <span>3</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>

        </div>
        <div class="form-outer">
            <form action="/productlist" method="POST" enctype="multipart/form-data">
                <div class="page slide-page">
                    <div class="title">Basic Info:</div>
                    <div class="field">
                        <div class="label">Product Name</div>
                        <input type="text" name="productName"   />
                    </div>
                    <div class="field">
                        <div class="label">Supply Ability</div>
                        <input type="number" name="supplyAbility"   />
                    </div>
                    <div class="field opt_group">
                        <div class="label">Min-Price</div>
                        <input type="number" name="minPrice"   />
                        {{>currency}}
                    </div>
                    <div class="field opt_group">
                        <div class="label">Max-Price</div>
                        <input type="number" name="maxPrice"   />
                        {{>currency}}
                    </div>
                    <div class="field">
                        <div class="label">Maximum Order Quantity</div>
                        <input type="number" name="moq"   />
                    </div>
                    <div class="field">
                        <div class="label">Special-Offer</div>
                        <input type="text" name="specialOffer"   />
                    </div>
                    <div class="field">
                        <div class="label">Payment terms</div>
                        <input type="text" name="paymentTerms"   />
                    </div>
                    <div class="field">
                        <div class="label">EXIM Terms & Conditions</div>
                        <select class="selopt" name="eximTandC"  >
                            <option value="" selected disabled>Choose</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <div class="field">
                        <div class="label">Aavailability of sample</div>
                        <select class="selopt" name="availabilityOfSample"  >
                            <option value="" disabled selected>Choose</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>

                    </div>
                    <div class="field">
                        <div class="label">If yes, price per sample</div>
                        <input type="text" name="pricePerSample" />
                    </div>
                    <div class="field">
                        <div class="label">Processing time</div>
                        <input type="text" name="processingTime"   />
                    </div>
                    <div class="field">
                        <button class="firstNext next">Next</button>
                    </div>
                </div>

                <div class="page">
                    <div class="title">Description:</div>
                    <div class="field">
                        <div class="label">Overview</div>
                        <textarea name="overview"   style="width: 100%;" cols="50" rows="4"></textarea>
                    </div>
                    <div class="field">
                        <div class="label">Model Number</div>
                        <input type="text" name="modelNumber"   />
                    </div>
                    <div class="field">
                        <div class="label">Design</div>
                        <input type="text" name="design" />
                    </div>
                    <div class="field opt_group">
                        <div class="label">Size/Dimensions</div>
                        <input type="text" name="sizeAndDimensions"   />
                        <select id="opts1" name="sizeUnit">
                            <option value="">Choose</option>
                            <option value="lbh in meter">lbh in meter</option>
                            <option value="lbh in cm">lbh in cm</option>
                            <option value="lbh in inches">lbh in inches</option>
                            <option value="Weight(kg)">Weight(kg)</option>
                            <option value="Weight(grams)">Weight(grams)</option>
                            <option value="Weight(lbs)">Weight(lbs)</option>
                            <option value="Small">Small</option>
                            <option value="Medium">Medium</option>
                            <option value="Large">Large</option>
                            <option value="Extra-Large">Extra-Large</option>
                            <option value="Others">Others(specify)</option>
                        </select>
                    </div>
                    <div class="field">
                        <div class="label">Material</div>
                        <input type="text" name="material"   />
                    </div>
                    <div class="field">
                        <div class="label">Color</div>
                        <input type="text" name="color"   />
                    </div>
                    <div class="field">
                        <div class="label">Features</div>
                        <input type="text" name="features" />
                    </div>
                    <div class="field">
                        <div class="label">Type</div>
                        <input type="text" name="type" />
                    </div>
                    <div class="field">
                        <div class="label">General use</div>
                        <input type="text" name="generalUse" />
                    </div>
                    <div class="field">
                        <div class="label">After sale Service</div>
                        <input type="text" name="afterSaleService"   />
                    </div>
                    <div class="field">
                        <div class="label">Applications</div>
                        <input type="text" name="applications" />
                    </div>
                    <div class="field">
                        <div class="label">Packaging</div>
                        <input type="text" name="packaging"  />
                    </div>

                    <div class="field btns">
                        <button class="prev-1 prev">Previous</button>
                        <button class="next-1 next">Next</button>
                    </div>
                </div>
                <div class="page">
                    <h1>Upload Product Images</h1>
                    <div class="field" id="imgUpload">
                        {{!-- <div class="title">Upload atleast three images</div> --}}
                        <div class="wrapper">
                            <div class="box">
                                <div class="js--image-preview"></div>
                                <div class="upload-options">
                                    <label>Select atleast 3 and atmost 6 images of your product.
                                        <input type="file" class="image-upload" name="myfiles" multiple />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field btns">
                        <button class="prev-5 prev">Previous</button>
                        <button type="submit">Submit</button>
                    </div>
<input type="submit" value="listnow">
                </div>

            </form>
        </div>
    </div>
    {{!-- {{>foot1}} --}}

    <script src="js/plist.js"></script>

</body>

</html>