<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>ProfileDashboard - SriSriPort</title>
  <link rel="shortcut icon" href="images/flogo.png" type="image/x-icon">
 
  <link rel="stylesheet" href="css/profile1.css">
  <link rel="stylesheet" href="css/newnav.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-user'></i>

      <span class="logo_name"><%= name %></span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/" class="active">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Home</span>
        </a>
      </li>
      <li>
        <a href="/import">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Import</span>
        </a>
      </li>
      <li>
        <a href="/export">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Export</span>
        </a>
      </li>
      <li>
        <a href="/productlist">
          <i class='bx bx-box'></i>
          <span class="links_name">List Product</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-box'></i>
          <span class="links_name">My Orders</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-list-ul'></i>
          <span class="links_name">Inquires</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-pie-chart-alt-2'></i>
          <span class="links_name">Quotations</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-coin-stack'></i>
          <span class="links_name">My Reviews</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-book-alt'></i>
          <span class="links_name">My Favourite</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-message'></i>
          <span class="links_name">Notifications</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-heart'></i>
          <span class="links_name">My Assistant</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog'></i>
          <span class="links_name">Setting</span>
        </a>
      </li>
      <li class="log_out">
        <a href="/logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search'></i>
      </div>
      <div class="profile-details">
        <a href="/profile"><img src="uploads/<%= image %>" alt=""></a>
        <span class="admin_name"><%= name %></span>
        <i onclick="openForm()" class='open-button bx bx-chevron-down'></i>
        <div class="form-popup" id="myForm">

        

          <form class="form-container" action="/upload" method="POST" enctype="multipart/form-data">
            <div>
              <label for="email">Email</label>
              <input type="email" id="name" placeholder="Confirm your mail" value="" name="email" required>
            </div>

            <div>
              <label for="image">Upload profile Image</label>
              <div class="wrapper">
                <div class="imgbox">
                  <div class="js--image-preview"></div>
                  <div class="upload-options">
                    <label>
                      <input type="file" class="image-upload" name="avatar" accept="image/*" required />
                    </label>
                  </div>
                </div>
              </div>
              {{!-- <input type="file" id="image" name="avatar" value="" required> --}}
            </div>
            <div>
              <button class="btn" type="submit">upload</button>
            </div>
            <button type="button" class="btn cancel" onclick="closeForm()">discard</button>
          </form>


 





        </div>
      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Order</div>
            <div class="number">0</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Sales</div>
            <div class="number">0</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bxs-cart-add cart two'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Profit</div>
            <div class="number">Rs.0</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart cart three'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Return</div>
            <div class="number">0</div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Down From Today</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart four'></i>
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Recent Sales</div>
          <div class="sales-details">
            <ul class="details">
              <li class="topic">Date</li>
           
            </ul>
            <ul class="details">
              <li class="topic">Customer</li>
           
            </ul>
            <ul class="details">
             
            </ul>
            <ul class="details">
              <li class="topic">Total</li>
          
            </ul>
          </div>
          <div class="button">
            <a href="#">See All</a>
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">Your Top Seling Product</div>
          <ul class="top-sales-details">
           
          </ul>
        </div>
      </div>
    </div>
  </section>

  <script src="js/fileinput.js"></script>
  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
      sidebar.classList.toggle("active");
      if (sidebar.classList.contains("active")) {
        sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else
        sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }

    // profile img js

    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>

</body>

</html>