 <div class="offer">
        <div class="left">
            <h1>Get updates & newsletters in your inbox.</h1>
        </div>
        <div class="right">
            <form action="" class="formoffer">
                <input type="email" name="email" id="email" placeholder="enter your mail address">
                <input type="submit" name="" id="" value="submit">
            </form>

        </div>
    </div>