 <footer>
   <div class="content">
     <div class="left box">
       <div class="upper">
         <div class="topic">About us</div>
         <p>SRISRIPORT seeks to create the largest network of exporters and importers across the globe. We strive to tap business opportunities for all business owners, entrepreneurs, and manufacturers and provide them with one-stop services for their EXIM business.</p>
       </div>
       <div class="lower">
         <div class="topic">Contact us</div>
         <div class="phone">
           <a href="#"><i class="fas fa-phone-volume"></i>+91 6306 834 436</a>
         </div>
         <div class="email">
           <a href="#"><i class="fas fa-envelope"></i>srisriportllp@gmail.com</a>
         </div>
       </div>
     </div>
     <div class="middle box">
       <div class="topic">Our Services</div>
       <div><a href="#">Import</a></div>
       <div><a href="#">Export</a></div>
       {{!-- <div><a href="#">Web User Interface Design</a></div> --}}
       {{!-- <div><a href="#">Theme Development, Design</a></div> --}}
       {{!-- <div><a href="#">Mobile Application Design</a></div> --}}
       {{!-- <div><a href="#">Wire raming & Prototyping</a></div> --}}
     </div>
     <div class="right box">
       <div class="topic">Subscribe us</div>
       <form action="#">
         <input type="text" placeholder="Enter email address">
         <input type="submit" name="" value="Send">
         <div class="media-icons">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </form>
     </div>
   </div>
   <div class="bottom">
     <p>Copyright © 2022 <a href="http://srisriport.com/">SRISRIPORT</a> All rights reserved</p>
   </div>
 </footer>