 <div class="navbar">
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn"><i class="fas fa-bars"></i></label>
        <!-- <hr class="hr"> -->
        
        <ul>
            <a href="/"><li>HOME</li></a>
            <a href="/vision"><li>OUR VISION</li></a>
            <a href="/blog"><li>EXPLORE EXIM</li></a>
            <a href="/contact"><li>CONTACT US</li></a>
            <a href="/signup"><li>SIGN UP</li></a>
           <a href="/login"><li style="background-color: YELLOW; color: black; border-radius: 5px;height: 32px;">LOGIN</li></a>
        </ul>
        
    </div>