 <div class="navbar">
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn"><i class="fas fa-bars"></i></label>
        <!-- <hr class="hr"> -->
        <div class="logo">
          <a href="/"><img src="images/Untitled.png" alt="logo"></a>  
        </div>
        <ul>
            <a href="/"><li>HOME</li></a>
            <a href="/vision"><li>OUR VISION</li></a>
            <a href="/blog"><li>EXPLORE EXIM</li></a>
            <a href="/contact"><li>CONTACT US</li></a>
            <a href="/register"><li>SIGN UP</li></a>
           <a href="/login"><li>LOGIN</li></a>
           <li>hey:)&nbsp{{name}}</li>
        </ul>
        
    </div>