<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img
          class="mx-2"
          src="images/flogo.png"
          alt=""
          width="50"
          height="50"
        />
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Go Global
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/import">Import</a></li>
            <li><a class="dropdown-item" href="/export">Export</a></li>
            <li>
              <a class="dropdown-item" href="/mktplace">MarketPlace</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
           
          </ul>
        </li>
        <li>
          <a href="/contact" class="nav-link px-2 text-white">Contact Us</a>
        </li>
        <li>
          <a href="/upgrade" class="nav-link px-2 text-white">Upgrade</a>
        </li>
        <li>
          <a href="/login" class="nav-link px-2 text-white">Login</a>
        </li>
        <li>
          <a href="/reglog" class="nav-link px-2 text-white">Sign Up</a>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control form-control-dark text-bg-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

    
    </div>
  </div>
</header>
