 <div class="handle">

        <div class="icon">
            <a href="https://www.youtube.com/" target="_blank">
                <i class="fa fa-envelope" style="font-size:18px;color:white"></i>srisriportllp@gmail.com
            </a>

        </div>
        <div class="icon">
            <a href="https://www.youtube.com/" target="_blank">
                <h1><i class="fa fa-youtube-play" style="font-size:18px;color:red"></i></h1>
            </a>

        </div>
        <div class="icon">
            <a href="https://www.youtube.com/" target="_blank">
                <h1><i class="fa fa-linkedin-square" style="font-size:18px;color:white"></i></h1>
            </a>

        </div>
        <div class="icon">
            <a href="https://www.facebook.com/" target="_blank">
                <h1><i class="fa fa-facebook-f" style="font-size:18px;color:white"></i></h1>
            </a>

        </div>
        <div class="icon">
            <a href="https://www.instagram.com/" target="_blank">
                <h1><i class="fa fa-instagram" style="font-size:18px;color:white"></i></h1>
            </a>

        </div>
        <div class="icon">
            <a href="https://twitter.com/home" target="_blank">
                <h1><i class="fa fa-twitter" style="font-size:18px;color:white"></i></h1>
            </a>

        </div>
    </div>