.container
{
    width: 60%;
    align-items: center;
    justify-content: center;
}
.cform
{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 6px solid green;
    border-radius: 10px;
    
}
#logform
{
    border-top: 6px solid navy;  
}
@media screen and (max-width:700px){
    .container
{
    width: 100%;
   
}
    
}