*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.handle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 24px;
   
    /* justify-content: space-around; */
    /* text-align: center; */
}

.fa.fa{
    
    padding: 8px;
}
.handle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
     background-color: #06101c;
     width: 100%;
    height: 30px;
    z-index: -1;
    /* opacity: 0.8; */
}
.handle a{
    color: white;
    text-decoration: none;
}
.icon
{
    color: white;
}
/* navbar------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200;700&family=Finlandica:ital@1&display=swap');

p {
    /* font-family: 'Arima', cursive; */
    font-family: 'Finlandica', sans-serif;
}

h1 {
    font-family: 'Arima', cursive;
}





#watch {
    border: 2px solid red;
    position: relative;
    top: 10px;
    font-size: 16px;
    color: white;
}


#b1 {
    font-size: 15px;
    background: transparent;
    border: 1px solid black;
    color: white;
}


.navbar::before {
    content: "";
    background-color: #5584ff;
    position: absolute;
    
    width: 100%;
    height: 68px;
    top: 0;
    left: 0;
    z-index: -1;
    /* opacity: 0.8; */
}

.navbar ul {
    position: absolute;
    top: 30px;
    display: flex;
    /* padding: 10px; */
    font-size: 12px;
    color: rgb(9, 9, 9);
    /* border: 2px solid red; */
    right: 15px;
}

.navbar ul li {
    list-style: none;
    color: white;
    padding: 8px;
    position: relative;
    font-family: 'Baloo Bhaijaan 2', cursive;
    /* margin-bottom: 5px; */
    margin-left: 30px;
}

.navbar ul a {
    text-decoration: none;
}

.navbar li:hover {
    color: greenyellow;
    /* color: red; */
}

.navbar li::after {
    content: "";
    position: absolute;
    background-color: rgb(193, 206, 11);
    /* background-color: rgb(235, 15, 15); */
    width: 0px;
    height: 2.5px;
    transition: 0.5s;
    left: 0px;
    top: 32px;
}

.navbar li:hover::after {
    width: 100%;
}

.navbar .menu-btn i {
    font-size: 20px;
    color: white;
    /* display: none; */
}

#click {
    display: none;
}

.hr {
    display: none;
}



.menu-btn {
    display: none;
}

p {
    color: black;
}

.time {
    color: white;

}

.count {
    color: white;
    position: relative;
    left: 90px;
}